node_modules/
.next/
.next-stale-*/
tsconfig.tsbuildinfo
playwright-report/
test-results/**
!test-results/
!test-results/screenshots/
!test-results/screenshots/*.png
.env
.env.local
.env.*.local
npm-debug.log*
